.messages{
  background: white;
  padding: 15px;

  &__item{
    width: 40%;
    padding: 10px;
    background: linear-gradient(to right, lightskyblue , lightblue);
    border-radius: 5px;

    &__header{
      &__author{
        font-weight: bold;
        float: left
      }

      &__date{
        color: white;
        float: right;
        font-style: italic;
        font-size: 80%;
      }
    }

    &__message{
      padding-top: 10px;
      clear: both;
      text-align: left;
    }

    float: left;
    clear: both;

    &_my{
      float: right;
      background: none;
      border: 1px solid gray;
    }

    &_my &__header__date{
      color: gray;
    }
  }

  &__item + &__item{
    margin-top: 15px;
  }

  &:after{
    content: "";
    display: block;
    clear: both;
  }
}